USE [Employee]
GO
/****** Object:  Table [dbo].[THANHPHO]    Script Date: 11/14/2019 6:43:14 PM ******/
DROP TABLE [dbo].[THANHPHO]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/14/2019 6:43:14 PM ******/
DROP TABLE [dbo].[NHANVIEN]
GO
USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 11/14/2019 6:43:14 PM ******/
DROP DATABASE [Employee]
GO
/****** Object:  Database [Employee]    Script Date: 11/14/2019 6:43:14 PM ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Employee.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Employee_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/14/2019 6:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](20) NOT NULL,
	[ThanhPho] [nvarchar](20) NOT NULL,
	[CanHo] [nvarchar](20) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHPHO]    Script Date: 11/14/2019 6:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHPHO](
	[MaTP] [int] IDENTITY(1,1) NOT NULL,
	[TenTP] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_THANHPHO] PRIMARY KEY CLUSTERED 
(
	[MaTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ThanhPho], [CanHo], [GioiTinh]) VALUES (1, N'Trần Thiên Phúc', N'Hồ Chí Minh', N'ABC', N'Nam')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ThanhPho], [CanHo], [GioiTinh]) VALUES (28, N'Hồ Huy Phúc', N'Vũng Tàu', N'KKF', N'Nam')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ThanhPho], [CanHo], [GioiTinh]) VALUES (29, N'Huỳnh Thị Mai', N'Hà Nội', N'ABC', N'Nữ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[THANHPHO] ON 

INSERT [dbo].[THANHPHO] ([MaTP], [TenTP]) VALUES (1, N'Hồ Chí Minh')
INSERT [dbo].[THANHPHO] ([MaTP], [TenTP]) VALUES (2, N'Đà Nẵng')
INSERT [dbo].[THANHPHO] ([MaTP], [TenTP]) VALUES (3, N'Hà Nội')
SET IDENTITY_INSERT [dbo].[THANHPHO] OFF
USE [master]
GO
